<section class="admin-flavours-index">
  <% @flavours.each do |flavour| %>
    <article class="flavour">
      <p><%= flavour.name %><%= flavour.liquid.name %></p>
      <p><%= flavour.description %></p>
    </article>
  <% end %>

  <a href="/admin/flavours/new">New Flavour</a>
</section>