<section class="admin-flavours-index">
  <% @flavours.each do |flavour| %>
    <article>
      <p><strong><%= flavour.name %><%= " " %><%= flavour.liquid.name %></strong></p>   
      <p><%= flavour.description %></p>
    </article>
    <hr />
  <% end %>

  <a href="/admin/flavours/new">New Flavour</a>
</section>