<section class="refresh-tokens-new">
  <h3> New Token </h3>
  <a href="https://developer.intuit.com/app/developer/playground" target="_blank">
  Site to Refresh Token </a>

  <%= render "form", refresh_token: @refresh_token %>
</section>