<h3>Payment Details</h3>
<p><strong>Payee: </strong><%= @order.payment.payee %> <p>
<p><strong>Contact Information: </strong><%= @order.payment.contact_information %> <p>
<p><strong>Payment Method: </strong><%= @order.payment.payment_method %> <p>
<p><strong>Payment Date: </strong><%= @order.payment.payment_date %> <p>
