<section class="navigation">
  <section class="navigation-title">
    <h1>Hoochy Booch</h1>
  </section>

  <section class="navigation-links">
    <% if admin_signed_in? %>
      <%= render "admin_links" %>
    <% elsif user_signed_in? %>
      <%= render "user_links" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      |
      <%= link_to "Staff Login", new_admin_session_path, :class => 'navbar-link'  %>
    <% end %>
  </section>
</section>
