<%= simple_form_for order do |f| %>
  <section class="form-inputs">
    <%= f.input :note %>
  </section>

  <section class="form-links">
    <%= f.submit 'Save' %>
    <%= link_to 'Back', cart_path, class: 'secondary-button' %>
  </section>
<% end %>
