<h1> View Order </h1>

<% @order.selections.each do |selection| %>
  <article class="selection">
    <p><%= selection.name %></p>
    <p><%= humanized_money_with_symbol selection.price %></p>
  </article>
<% end %>

<h3><%="Total: #{humanized_money_with_symbol @order.total}"%></h3>
