<h1> View Order </h1>

<% @order.order_products.each do |product| %>
  <article class="products">
    <p><%= product.name %></p>
    <p><%= humanized_money_with_symbol product.price %></p>
  </article>
<% end %>

<h3><%="Total: #{humanized_money_with_symbol @order.total}"%></h3>

<p><%= @order.delivery_date.strftime("Scheduled for delivery on %m/%d/%Y") %></p>