<section class="admin-products-index">
  <h1>Products</h1>

  <%= link_to(
    'New Liquid Product',
    new_admin_product_path(
      product: {
        selectable_type: 'LiquidSelection'
      }
    )
  ) %>

  <hr />

  <table class="products-table">

    <thead>
      <th>Name</th>
      <th>Price</th>
    </thead>
    <tbody>
      <% @products.each do |product|%>
        <tr>
          <td><a href="/admin/products/<%= product.id %>"><strong><%= product.name %></strong></a></td>
          <td><%= humanized_money_with_symbol product.price_for(current_user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</section>
