<section class="product-show">
  <h1>Product: <%= @product.name %></h1>

  <%= link_to 'Edit', edit_admin_product_path(@product) %>
  <%= link_to 'Delete', admin_product_path(@product), method: :delete, data: { confirm: "Are you sure?" } %>
  <p>
    <strong>Price:</strong>
    <%= humanized_money_with_symbol @product.price_for(nil) %>
  </p>
</section>
