@charset "utf-8";

@import "normalize.css/normalize";

@import "bourbon";
@import "neat";

@import "base/base";

// Resources
@import "navigation";
@import "products";
@import "flashes";

main.main-content {
  display: block;
  max-width: $large-screen;
  margin: 0 auto;
}
