div.flashes {
  text-align: center;
  margin: 0 auto;
  margin-bottom: $base-spacing;
  position: fixed;
  top: 10%;
  right: $small-spacing;
}

div.flash-alert {
  background-color: $red;
  color: white;
  padding: $base-spacing;
}
