<section class="users-index">
  <h2>Users</h2>

  <%= link_to 'Send Invite', new_admin_invite_path, class: 'primary-button' %>

  <hr />

  <table class="users">
    <thead>
      <th>Email</th>
      <th>Actions</th>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
