<section class="product-index">
  <h1>Products</h1>
  <br>

  <section class="liquid-list">
    <% @product_liquids.each do |liquid| %>
      <article class="liquid">
        <h1><%= liquid.name %></h1>
        <section class="flavour-list">
          <% liquid.flavours.each do |flavour| %>
            <% if liquid.flavours.include? flavour %>
              <%= render "flavour", flavour: flavour %>
            <% end %>
          <% end %>
        </section>
      </article>
    <% end %>
  </section>
</section>
